<nav class="navbar navbar--glass">
  <div class="nav-left">
    <span class="logo">Dragoman</span>
    <a routerLink="/dashboard" routerLinkActive="active">Accueil</a>
    <a routerLink="/calendar" routerLinkActive="active">Audiences</a>
    <a routerLink="/interpretes" routerLinkActive="active">Interprètes</a>
    <a routerLink="/interpretes/1/detail" routerLinkActive="active">Interprète test Jason</a>
    <a routerLink="/presence-interpretes" routerLinkActive="active">Feuille de présence</a><!-- Ajouter ce lien dans votre menu -->
    <a routerLink="/prestations" routerLinkActive="active">Prestations</a>

  </div>
  <div class="nav-right">
    Bienvenue, <strong>{{ user }}</strong>
  </div>
  

</nav>
